.container
	.container-login#user-container
		.modal-header.title-login
			%h1
				Configuración
		.row
			.col-lg-3.col-mg-3.col-sm-3.col-xs-6.col-conf-left
				%a.link_conf{href: "/user"}
					.section-conf
						%center
							%i.fa.fa-user.fa-5x
							%h3 Usuarios
			.col-lg-3.col-mg-3.col-sm-3.col-xs-6.col-conf#conf-uno
				%a.link_conf{href: "/user"}
					.section-conf
						%center
							%i.fa.fa-puzzle-piece.fa-5x
							%h3 Equipos
			.col-lg-3.col-mg-3.col-sm-3.col-xs-6.col-conf#conf-dos
				%a.link_conf{href: "/user"}
					.section-conf
						%center
							%i.fa.fa-calendar.fa-5x
							%h3 Cronograma
			.col-lg-3.col-mg-3.col-sm-3.col-xs-6.col-conf-right
				%a.link_conf{href: "/user"}
					.section-conf
						%center
							%i.fa.fa-clock-o.fa-5x
							%h3 Historial

		.modal-footer.footer-login