.container
	.row
		.row
		.col-lg-3.col-md-3.col-sm-4
			.container-login#user-controls
				.modal-header.title-login
					%h3 
						%i.fa.fa-gear
						Clientes
				%center
					= link_to "<i class='fa fa-list-alt fa-3x'></i>".html_safe, empresas_path, :class=>"btn btn-control-2"
							
				.modal-footer.footer-login
		.col-lg-9.col-md-9.col-sm-8
			.container-login#user-container
				.modal-header.title-login
					%h2.hidden-xs
						%i.fa.fa-puzzle-piece
						Editar Empresa Cliente
					%h2.visible-xs 
						%i.fa.fa-puzzle-piece
						Editar Cliente
				= render 'form'