!!!
%html
	= render template: "layouts/head"  
	%body
		= render template:"layouts/navbar"
		= yield
	- if current_user.respond_to?(:email) && current_user.email.present?
	- else
		%footer.navbar-fixed-bottom{style:"padding:20px;"}
			%center
				Todos los derechos reservados 2014. Desarrollado por 
				%b{style:"color:#57DFA9;"}
					SigmaRails